@font-face {
  font-family: 'zcool_kuaileregular';
  src: url(@require '~styles/zcoolkuaile-regular.woff2') format('woff2'),
    url(@require '~styles/zcoolkuaile-regular.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

 main #main-title,.site-name {
    font-family: 'zcool_kuaileregular';
   }


